#logo {
    max-height: 100px;
}

.likert {
    position: relative;
}
.likert:before {
    content: ' ';
    position: absolute;
    top: 11px;
    left: 6.5%;
    display: block;
    background-color: #efefef;
    height: 4px;
    width: 87%;
    z-index: -1000;
}

.range-custom {
    left: 6.5%;
    width: 87%; /* Full-width */
    height: 40px; /* To increase hight of click zone */
    position: relative;
}

.range-value {
    text-align: center;
}

input[type=range].range-thumb-hide::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
}

input[type=range]:invalid::-webkit-slider-runnable-track {
    background: red;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-8 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-9 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-10 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-11 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-12 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid {
    display: grid;
    grid-gap: 0px;
    width: 80%;
    left: 10%;
    position: relative;
}
.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid-item {
    appearance: none;
    border-radius: 0% !important;
    position: relative;
    border: 1px solid #CED4DA;
    padding: 50%;
    margin: 0;
}

.grid-item:checked, .grid-item:focus {
    background-image: none !important;
    box-shadow: none;
    border: 1px solid #CED4DA;
}

.vertical-text-90 {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.vertical-text-270 {
    transform: rotate(270deg);
    transform-origin: center;
}


.spacer {
    height: 50px;
    position: relative;
}
